:root{
    --fondo: #f6eec7;
    --colorPrimario: #f7d695;
    --colorSecundario: #ee8972;
    --colorTerciario: #d15a7c;
    --colorTexto: #49422D;
}

.fondo{
    background-color: var(--fondo);
}
.colorPrimario{
    background-color: var(--colorPrimario);
}
.colorSecundario{
    background-color: var(--colorSecundario);
}
.colorTerciario{
    background-color: var(--colorTerciario);
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    background-color: var(--colorTerciario) !important;
  }

.textoPequeño{
    font-size: 60%;
}

.textoCarrusel{
    color: black;
    text-align: center;
}

.textoNavbar{
    color: var(--colorTexto) !important;
}

.textoLargo{
    text-align: justify;
    font-size: 80%;
}

.imagenSanto{
    width: 25%;
    height: auto;
    padding-top: 5%;
}