:root{
    --fondo: #ecf4f3;
    --colorPrimario: #68b0ab;
    --colorSecundario: #006a71;
    --colorTerciario: #ff7e67;
}

.fondo{
    background-color: var(--fondo);
}
.colorPrimario{
    background-color: var(--colorPrimario);
}
.colorSecundario{
    background-color: var(--colorSecundario);
}
.colorTerciario{
    background-color: var(--colorTerciario);
}
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    background-color: var(--colorTerciario) !important;
  }
.textoPequeño{
    font-size: 60%;
}
.textoCarrusel{
    color: black;
    text-align: center;
}